* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  max-width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
.wrapper {
  max-width: 95%;
  padding: 4em 4em;
  position: absolute;
  width: 31.25em;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  /* From https://css.glass */
  background: rgba(227, 213, 235, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(227, 213, 235, 0.43);
  margin-top: 30px;
}
.sen {
  text-align: center;
}
#userInput {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  padding: 0.5em 1em;
  font-size: 1em;
  outline: none;
  margin-top: 7px;
  background: inherit;
}
.options {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
select {
  appearance: none;
  width: 8em;
  padding: 0.45em 0.9em;
  font-size: 1.25em;
  letter-spacing: 0.3px;
  cursor: pointer;
  background-color: #02201f;
  border: none;
  color: #ffffff;
  background-image: url("arrow.png");
  background-repeat: no-repeat;
  background-size: 1.1em;
  background-position: 6em;
  outline: none;
  border-radius: 0.3em;
}
select::-ms-expand {
  display: none;
}
select option {
  background-color: #ffffff;
  color: #377dff;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-size: 1.12em;
}
.selected {
  display: none;
}
.color-inp {
  appearance: none;
  background-color: transparent;
  width: 3.1em;
  height: 3.4em;
  outline: none;
  border: none;
}
.color-inp::-webkit-color-swatch {
  border-radius: 0.3em;
  border: 0.18em solid #191f3f;
}
.color-inp::-moz-color-swatch {
  border-radius: 0.3em;
  border: 0.18em solid #191f3f;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box button,
.box a {
  font-size: 1em;
  padding: 0.8em 2em;
  border-radius: 0.5em;
  margin-top: 2em;
}
.box button:disabled {
  background-color: transparent;
  color: #a3aab6;
  border: 0.18em solid #a3aab6;
}
.box button {
  background-color: transparent;
  color: #191f3f;
  border: 0.18em solid #808080;
}
.box a {
  background-color: #191f3f;
  color: #ffffff;
  text-decoration: none;
  border: 0.18em solid #191f3f;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 1.8em;
  padding-bottom: 5px;
}
.hide {
  display: none;
}
.senter {
  text-align: center;
}
.senter b {
  cursor: pointer;
}
.senter b:hover {
  text-decoration: underline;
  color: #156556;
}
.down img {
  border-radius: 360px;
  margin-left: 0px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .options {
    flex-direction: column;
  }
  .down {
    padding-bottom: 12px;
  }
  .wrapper {
    margin-top: 60px;
  }
}